header.navbar-fixed
	nav.nav-wrapper.amber.lighten-2
		#header_margin.containers
			a.brand-logo.white-text.center(href='/') Signal
			
		a#show_all_time.button-collapse(data-activates='mobile-demo', href='#')
			i.mdi-navigation-menu

		if current_user
			ul#mobile-demo.side-nav.grey.lighten-3
				br
				a(href='/users/#{current_user.id}')
					.row
						.col.s4
							if current_user.image
								img.responsive-img.circle.small(alt="#{current_user.name}", src="/thumb#{current_user.image}")
							else
								img.responsive-img.circle.small(alt="#{current_user.name}",src="/images/amethyst_flat.png")
						.col.s8
							h5.cyan-text= current_user.name
				p
					li
						.row
							.col.s2
								i.mdi-action-home.small.cyan-text
							.col.s10
								a.cyan-text(href='/') ホーム
				li
					.row
						.col.s2
							i.mdi-action-account-circle.cyan-text.small
						.col.s10
							a.cyan-text(href='/friends') 友だち
				li
					.row
						.col.s2
							i.mdi-action-assignment-ind.cyan-text.small
						.col.s10
							a.cyan-text(href="/users/#{current_user.id}/edit") プロフィール
				li.pink-text
					.row
						.col.s2
							i.mdi-action-lock-open.small
						.col.s10
							form(action="/auth/logout",method="post")
								button.btn-flat.pink-text ログアウト

